html {
  font-size: 62.5%;
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  /*stylelint-disable-line*/
  box-sizing: inherit;
}

body {
  background-color: #ff6974;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
}

.canvas {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-img {
  position: relative;
}

.shadow {
  position: absolute;
  top: 26rem;
  left: -3.5rem;
  z-index: -1;
  animation: shadow .75s ease-in-out infinite alternate-reverse;
}

.loader {
  animation: loader .75s ease-in-out infinite alternate-reverse;
}

.player-container {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 3rem;
  text-align: center;
  background-color: #95e1ff;
  width: 40rem;
  height: 55rem;
}

.function {
  font-size: 3rem;
  color: #FFFBF2;
  text-align: center;
  text-transform: uppercase;
}

.balanceboard {
  max-width: 30rem;
  height: auto;
}

.button {
  max-width: 10rem;
  height: auto;
}

.balanceboard, .button {
  justify-self: flex-end;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 70vw;
}

.player-title {
  font-size: 5rem;
  margin-bottom: 2rem;
}

.vs {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 11rem;
}

.player-title,
.vs {
  color: #393939;
  text-align: center;
  text-shadow: -1px -1px 0 #1D1D1D;
  text-transform: uppercase;
}

.arrow {
  animation: arrow .75s ease-in-out infinite alternate-reverse;
}

.gameEndRenderContainer {
}

@keyframes loader {
  from {
    transform: rotate(2deg);
    transform-origin: bottom right;
  }

  to {
    transform: rotate(12deg);
    transform-origin: bottom right;
  }
}

@keyframes shadow {
  from {
    transform: scaleX(.8)
  }

  to {
    transform: scaleX(1.2);
  }
}

@keyframes arrow {
  from {
    transform: translateY(-1rem)
  }

  to {
    transform: translateY(1rem)
  }
}
