html {
  font-size: 62.5%;
  box-sizing: border-box;
  height: 100%;
}

*, *:before, *:after { /*stylelint-disable-line*/
  box-sizing: inherit;
}

body {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.hide {
  display: none;
}

.menuContainer {
  display: flex;
  flex-direction: column;
}

.menuContainer h1 {
  font-size: 5rem;
}

.menuContainer button {
}